@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'League Spartan', system-ui, sans-serif;
    letter-spacing: 0.05em;
  }

  svg {
    display: inline-block;
  }
}